.about-me {
  width: 100%;
  height: 765px;
  background-image: url(../resources/portfolio-bg.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.about-me__description {
    position: absolute;
    top: 334px;
    max-width: 430px;
    font-size: 21px;
    line-height: 29px;
    color: #ffffff;
    text-shadow: #000 9px 0 5px;
  }

  .about-me__title {
    position: absolute;
    top: 466px;
    max-width: 919px;
    font-size: 80px;
    line-height: 83px;
    color: #00f6ff;
  }

  @media (max-width: 1199px) {
    .about-me__title {
      font-size: 60px;
    }
    }

    @media (max-width: 767px) {
      .about-me {
        height: 716px;
        background-image: url(../resources/portfolio-bg_mobile.png);
        object-fit: contain;
      }

      .about-me__title {
        top: 451px;
        font-size: 40px;
        line-height: 47px;
      }

      .about-me__description {
        top: 355px;
        font-size: 15px;
        line-height: 22px;
      }
    }