.competencies__title {
    margin-bottom: 48px;
  }

  .competencies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px 50px;
  }

  .competention {
    width: calc(50% - 25px);
  }

  .competention__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 46px;
    color: #00f6ff;
  }

  .competention__description {
    font-size: 22px;
    line-height: 29px;
    color: #ffffff;
  }

  @media (max-width: 1199px) {

    .competencies-list {
      gap: 85px 40px;
    }

    .competention__title {
      margin-top: 10px;
      margin-bottom: 13px;
      font-size: 28px;
    }

    .competention__description {
      font-size: 18px;
    }

  }

  @media (max-width: 767px) {
    .competencies__title {
      margin-bottom: 60px;
    }

    .competencies-list {
      flex-direction: column;
      row-gap: 60px;
    }

    .competention {
      width: 100%;
    }

    .competention__title {
      margin-bottom: 15px;
    }
  }
