.footer {
    padding: 76px 0 34px 0;
    margin-top: 10px;
    border-radius: 30px 30px 0px 0px;
    background-color: #ffffff;
  }

  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__contacts {
    display: flex;
    gap: 24px;
  }

  .footer__contacts-link {
    text-decoration: none;
    color: #000;
    font-size: 22px;
  }

  .footer__contacts-link:hover {
    color: #00f6ff;
  }


  .footer__text {
    color: #000;
    font-size: 22px;
  }

  .footer__description-inner {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
  }

  .footer__description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }

  @media (max-width: 1199px) {
    .footer {
      padding: 47px 0 34px 0;
      margin-top: 7px;
      border-radius: 30px 30px 0 0;
    }

    .footer__contacts-link {
      font-size: 16px;
    }

    .footer__text {
      font-size: 16px;
    }

    .footer__description {
      font-size: 14px;
    }

    .footer__description-inner {
      margin-top: 43px;
    }
  }

  @media (max-width: 767px) {
    .footer {
      margin-top: 0;
      border-radius: 0;
    }

    .footer__inner {
      margin-bottom: 40px;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }

    .footer__description-inner {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 12px;
    }

  }