@import url(../styles/header.css);
@import url(../styles/burger.css);
@import url(../styles/about-me.css);
@import url(../styles/projects.css);
@import url(../styles/competencies.css);
@import url(../styles/services.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);
@import url(../styles/buttons.css);


html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #000000;
  background-size: 100%;
  font-family: "Geologica", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.body_fixed {
  overflow: hidden;
}

h1,
h2,
h3,
div,
a,
p {
  letter-spacing: -0.03em;
}

.projects,
.competencies,
.services {
  margin-top: 150px;
}

.container {
  margin: auto;
  width: 1150px;
}

h2 {
  font-size: 55px;
  line-height: 72px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  h2 {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .projects,
  .competencies,
  .services {
    margin-top: 100px;
  }

  h2 {
    font-size: 30px;
    line-height: normal;
  }
}
