html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #000000;
  background-size: 100%;
  min-width: 1400px;
  font-family: "Geologica", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
div,
a,
p {
  letter-spacing: -0.03em;
}

.projects,
.competencies,
.services {
  padding-top: 150px;
}

.header {
  position: relative;
  height: 765px;
  min-width: 1400px;
  background-image: url(/resources/portfolio-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.logo {
  position: absolute;
  top: 27px;
  font-weight: 700;
  font-size: 43px;
  letter-spacing: -0.11em;
  background: #000000;
  padding: 9px;
  border-radius: 45px;
  color: #00f6ff;
}

.nav {
  float: right;
  margin-top: 40px;
  display: block;
}

.nav-link {
  margin-right: 50px;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: #00f6ff;
}

.container {
  margin: auto;
  width: 1150px;
}

.about-me__description {
  position: absolute;
  top: 334px;
  width: 430px;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.about-me__title {
  position: absolute;
  top: 466px;
  font-size: 80px;
  line-height: 70px;
  color: #00f6ff;
}

h2 {
  font-size: 55px;
  line-height: 72px;
  color: #ffffff;
}

.projects__title {
  padding-bottom: 40px;
}

.project {
  position: relative;
}

.project__title {
  position: absolute;
  left: 50px;
  bottom: 94px;
  font-size: 35px;
  line-height: 46px;

  color: #ffffff;
}

.project__description {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 30px;
  line-height: 39px;

  color: #ffffff;
}

.project-list {
  padding-bottom: 80px;
}

.project-btn {
  padding-top: 56px;
  display: block;
  width: 582px;
  height: 153px;
  background: #00f6ff;
  border-radius: 10px;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  border: 1px solid #00f6ff;
}

.project-btn:hover {
  color: #00f6ff;
  background-color: #000000;
}

.competencies__title {
  margin-bottom: 48px;
}

.competention {
  padding-bottom: 60px;
}

.competention__image {
  margin-bottom: 12px;
  background: #00f6ff;
  padding: 9px;
  border-radius: 10px;
}

.competention__title {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 46px;
  color: #00f6ff;
}

.competention__desc {
  padding-right: 499px;
  font-size: 22px;
  line-height: 29px;

  color: #ffffff;
}

.services__title {
  padding-bottom: 74px;
  font-size: 35px;
  line-height: 46px;

  color: #ffffff;
}

.service {
  padding-bottom: 74px;
}

.service__black-ellipse {
  position: relative;
}

.service__title {
  padding-bottom: 15px;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 55px;
  line-height: 72px;

  color: #00f6ff;
}

.service__desc {
  position: absolute;
  top: 127px;
  left: 40px;
  right: 361px;
  font-size: 22px;
  line-height: 29px;

  color: #ffffff;
}

.contacts {
  position: relative;
  min-width: 1400px;
  height: 717px;
  background-image: url(/resources/contacts-fullWidthImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 30px;
}

.contatcs__text-wrapper {
  position: absolute;
  display: block;
  top: 320px;
  left: 125px;
}

.contacts__title {
  margin-bottom: 28px;
  color: #fff;
  font-size: 35px;
  line-height: 60px;
}

.contacts__insta,
.contacts__tlg {
  margin-bottom: 20px;
}

.contacts__insta-link,
.contacts__tlg-link,
.contacts__mail-link {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;

  color: #fff;
}

.contacts__insta-link:hover {
  color: #00f6ff;
}

.contacts__tlg-link:hover {
  color: #00f6ff;
}

.contacts__mail-link:hover {
  color: #00f6ff;
}

.footer {
  margin-top: 150px;
  min-width: 1400px;
  border-radius: 30px 30px 0px 0px;
  background-color: #ffffff;
}

.footer-text {
  padding-top: 76px;
  padding-bottom: 66px;
  color: #000;
  font-size: 22px;
  font-family: Manrope, sans-serif;
  letter-spacing: -0.6px;
}

.footer-desc {
  padding-bottom: 24px;
  color: #000;
  font-size: 20px;
  font-family: Manrope, sans-serif;
  letter-spacing: -0.6px;
  opacity: 0.5;
}
